
<footer class="mt-4 bg-dark dark:bg-black">
    <div class="mx-auto w-full max-w-screen-xl p-3 py-6 lg:py-6">
        <div class="md:flex md:justify-between">
          <div class="mb-4 md:mb-0">
              <a href="#" class="flex items-center">
                  <!-- <img src="./assets/Navbar-Icon.jpeg" class="h-6 me-3" alt="Krishi-Sahayak-Logo" /> -->
                  <span     style="color: azure;"  class="self-center text-2xl font-semibold whitespace-nowrap ml-6 dark:text-white">କୃଷି ସହାୟକ</span>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-l font-semibold text-gray-900 uppercase mt-2 dark:text-white">Resources</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                       
                      
                  </ul>
              </div>
              <div>
                  <h2 class="mb-5 text-l font-semibold text-gray-900 uppercase mt-2   dark:text-white">Follow us</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                       
                      
                  </ul>
              </div>
              
          </div>
      </div>
       <div class=" mr-6 text-white  text-center mb-4">© 2024 Krishi Sahayta. All rights reserved. | Privacy Policy | Terms of Service | Contact Us</div>
      
    </div>
</footer>
