<div class="container text-center" style="background: transparent;">
    <h1 class="font-semibold text-3xl  ">Tutorial ଟ୍ୟୁଟୋରିଆଲ </h1>
    <div class="v1">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9BJj5kC8xoI?si=Eb4uJKbTViwbD28z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9BJj5kC8xoI?si=Eb4uJKbTViwbD28z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="v1">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9BJj5kC8xoI?si=Eb4uJKbTViwbD28z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9BJj5kC8xoI?si=Eb4uJKbTViwbD28z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="v1">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9BJj5kC8xoI?si=Eb4uJKbTViwbD28z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9BJj5kC8xoI?si=Eb4uJKbTViwbD28z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>